footer {
    text-align: center;
    margin-top: 20px; /* Ajuste la marge selon tes préférences */
  }
  
  footer p {
    margin: 0;
    font-size: 14px; /* Ajuste la taille de la police si nécessaire */
    color: white;
    font-size: 17px;
  }