footer {
  text-align: center;
  margin-top: 20px;
}

footer p {
  margin: 0;
  font-size: 17px;
  color: white;
}

footer .link-container {
  margin-top: 10px;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer span {
  color: white;
}